.button:hover {
    background-color: white;
    color: #0089EB;
    border-radius: 8px;
}

.box_img img:hover {
    margin: 0 auto;
    width: 255px;
    -webkit-transition-duration: 1.5s;
}

img.rot:hover {
  
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    -webkit-animation-delay: 25s;
    animation-delay: 25s;
  }