.two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chetire_clomns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.five_clomns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.seven_clomns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


/*

*/

.two_columns_comment {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.one_offset {
    display: grid;
    grid-template-areas: "c";
}

.offset1 {
    grid-area: c;
    z-index: 2;
    margin: 1% auto auto 5%;
}

.offset2 {
    grid-area: c;
    z-index: 1;
    margin: 0 auto 5% 0;
}

.offset3 {
    grid-area: c;
    z-index: 3;
    margin: auto auto 0;
}